.header {
	height: 80px; 
}
.big-img{
	height: 780px;
}
.game-h{
	height: 500px;
}
.ps-h{
	height: 800px;
}
.height-success{
	height: 525px;
}
.game-w{
	width: 1750px;
}
.items-h{
	height: 500px;
}
.img-h{
	height: 239px;
}
.button-w{
	width: 200px;
}
.logo-h{
	height: 50px;
}